{
  "mcpServers": {
    "astrobob": {
      "command": "astrobob",
      "args": [
        "mcp",
        "serve"
      ],
      "env": {
        "ASTRA_DB_API_ENDPOINT": "{{ astra_endpoint }}",
        "ASTRA_DB_APPLICATION_TOKEN": "{{ astra_token }}"
      }
    }
  }
}